/*Header*/
header {
	background-color: #ddd;
}

.logo {
	float: left;
}

.logoChn {
	font-size: 2.5em;
}

.logoEng {
	font-size: 1.2em;
}

.headerButtons {
	float: right;
	line-height: 3.5em;
}

.headerButtons div {
	margin: 0 -5px;
}

/*Nav*/
nav {
	margin: 55px 0 5px;
	text-align: center;
}

/*Footer*/
footer {
	background-color: #ddd;
	padding: 20px 0;
}